node_modules
.dropbox
*.tgz
coverage/*
.DS_Store
.app.yml
dist/*
junit.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# compiled output
/build
/node_modules